<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>홈</title>
  </head>
  <body>
    <div th:fragment="content" class="list">
      <ul class="bookList">
        <li class="head">
          <span>도서번호</span>
          <span>제목</span>
          <span>출판사</span>
          <span>저자</span>
          <span>출판일자</span>
        </li>

        <li th:if="${#lists.isEmpty(BOOKLIST)}">
          <h1>도서목록이 없습니다.</h1>
        </li>
        <li
          th:each="book : ${BOOKLIST}"
          th:attr="data-isbn=${book.isbn}"
          class="book-title"
        >
          <span th:text="${book.isbn}">도서번호</span>
          <span th:text="${book.title}">책 제목</span>
          <span th:text="${book.publisher}">출판사</span>
          <span th:text="${book.author}">저자</span>
          <span th:text="${book.pubdate}">출판일자</span>
        </li>
      </ul>
    </div>
  </body>
</html>
